<h1> Welcome to the Comedian Page!</h1>

<h2> Average Age: <%=@comedians.average("age").round%> </h2>



  <ul>
    <% @comedians.each do |comedian| %>
    <li> Name: <%=comedian.name%> </li>
    <li> Age: <%=comedian.age%> </li>
    <li> Special: <% comedian.specials.each do |special| %>
      <%=special.name%>
      <%end%>
    </li><br>
    <% end %>

  </ul>
